.container{
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	display: flex;
}
.product_photo{
	width: 400px;
	height: 400px;
	background: #fd0;
	position: absolute;
	left: 4%;
}
.product_discription{
	width: 750px;
	height: 1000px;
	background: #f80;
	position: absolute;
	left: 40%;
}